/* Стилизира елементите <section> */
section {
    border: 8px solid #e6e6e6; /* Задава граничен стил и цвят на рамката */
    padding: 16px; /* Добавя вътрешен отстъп от 16 пиксела до съдържанието в секцията */
    width: 451px; /* Задава ширина на секцията */
    height: 540px; /* Задава височина на секцията */
}

/* Стилизира заглавията <h2> */
h2 {
    font-family: 'Merriweather', serif; /* Задава шрифта */
    font-weight: 700; /* Задава дебелината на шрифта */
    margin: 1.2rem 0; /* Задава външен отстъп от 1.2 рема до горе и долу */
    color: rgb(51, 51, 51); /* Задава цвят на текста */
}

/* Стилизира всички <div> елементи */
div {
    font-weight: 600; /* Задава дебелината на шрифта */
    font-size: 20px; /* Задава размер на шрифта */
}

/* Стилизира елементите <button> */
button {
    width: 250px; /* Задава ширина на бутона */
    font-family: 'Work Sans', sans-serif; /* Задава шрифта */
    font-weight: 600; /* Задава дебелината на шрифта */
    font-size: 18px; /* Задава размер на шрифта */
    border-radius: 4px; /* Задава закръглени ъгли */
    background-color: #d5384d; /* Задава фонов цвят */
    color: #fff; /* Задава цвят на текста */
    letter-spacing: 1px; /* Задава разстояние между буквите */
    text-align: center; /* Задава центрирано изравняване на текста */
    padding: 8px 16px; /* Задава вътрешен отстъп на бутона */
    margin-top: 20px; /* Задава горен отстъп от бутона */
    margin-bottom: 20px; /* Задава долен отстъп от бутона */
}

/* Стилизира елементите <p> */
p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif; /* Задава шрифта */
    font-size: 18px; /* Задава размер на шрифта */
    line-height: 30px; /* Задава височина на линията (разстояние между редовете) */
    margin-top: 0; /* Задава горен отстъп от параграфите */
}
