.main-nav {
    display: flex;    
    justify-content: end;
}

.main-nav ul, .login ul {
    display: flex;    
}

.main-nav li,
.main-nav a,
.login li,
.login a {
    display: block;
}

.main-nav li {
    padding-top: 1em;
}

.main-nav a {
    padding: 0.8em;
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.nav {
    flex: 1 0 auto;
    padding-left: 6em;    
}

.login {
    flex: 0 0 auto;
    padding-right: 6em;    
}


ul.login li:nth-child(2) a {
    background-color: #ADE2DF; /* Вашият стил за второто <li> тук */
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}



